a {
    color: var(--color2);
}
button {
    width: 120px;
    padding-top: 3px;
    margin-bottom: 0;
    border: 0;
    color: var(--color0);
    background-color: var(--color2);
}
input, button {
    height: var(--spaceOut);
    padding: 0 var(--spaceIn);
    margin-bottom: var(--spaceIn);
}
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 0;
}
header {
    background-color: var(--color0);
}
header img {
    height: 50px;
    padding: 0 0 10px 10px;
}
main {
    width: 70%;
}
form {
    display: flex;
    flex-direction: column;
    gap: var(--spaceIn);
}
.flexInline {
    display: flex;
    gap: var(--spaceIn);
    align-items: center;
}
.flexRowJustify {
    justify-content: space-between;
}
.cw120 {
    width: 120px;
}

