:root {
    --color0: white;
    --color1: black;
    --color2: steelblue;
    --color3: silver;
    --font1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, Helvetica;
    --spaceIn: 10px;
    --spaceOut: 30px;
    --textSize: 10pt; 
    --btnTextSize: 8pt; 
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color0);
    padding-right: var(--spaceIn);
}
h1 {
    color: var(--color2);
    margin-bottom: var(--spaceOut);
}
body {
    height: 100vh;
    font-family: var(--font1);
    font-size: var(--textSize);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header, body, footer, main {
    width: 100%;
}
header {
    background-color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 50px;
}
main {
    align-items: center;
}
main img {
    width: 100%;
}
footer {
    background-color: var(--color2);
}
footer p {
    margin: var(--spaceIn);
    color: var(--color0);
    text-align: center;
    
}
